@import "tailwindcss";

@plugin "daisyui";

/* .ql-toolbar {
   position: static;
  top: -48;
  width:100%; 
  z-index: 1000;
  border-top-left-radius:0.5rem;border-bottom-left-radius:0.5rem;
  background-color: black;

}
*/


.custom-buttons-ai {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ql-toolbar.ql-snow {
  border: none !important;
}

/* .ql-snow .ql-stroke {
  stroke: #999 !important;
} */



/* .ql-snow .ql-picker {
  color: white !important;
} */

/* 

.content-below-toolbar {
  padding-top: 42px; 
}



 */
.navbar {
  padding: 0;
  min-height: unset;
}

.navbar-inside {
  /* background-color: rgba(33, 33, 33, 1);*/
  margin: 0.5rem 0.25rem 0;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 1rem;
  justify-content: space-between;
  padding: 5px;
}

.nav-custom-btn {
  display: flex;
  /*background-color: #130b2c;
  border-radius: 28px;
  padding: 6px 18px;*/
  align-items: center;
  gap: 15px;
}

.nav-custom-btn p {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
}

.nav-custom-btn button {
  color: #ffffff;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  gap: 5px;
  padding: 8px 20px;
  background-color: rgba(50, 50, 50, 1);
  border-radius: 28px;
}

.nav-custom-btn button.active {
  background: linear-gradient(45deg, rgba(66, 42, 213, 1) 0%, rgba(153, 41, 234, 1) 100%);

  border-radius: 28px;
}

.ai-menu-btn {
  background-color: #463453;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
  gap: 5px;
  white-space: nowrap;
  justify-content: center;
  min-width: 140px;
}

.bg-color-dark {
  background-color: #0f172b;
}

.dropdown-menu-ai {
  background-color: #1f1427;
  color: #9c8aa9;
}

.dropdown-menu-ai li {
  border-bottom: 1px solid rgba(156, 138, 169, 0.3);
}

.dropdown-menu-ai li:last-child {
  border-bottom: none;
}

.toggler {
  width: 72px;
  /* margin: 40px auto; */
}

.toggler input {
  display: none;
}

.toggler label {
  display: block;
  position: relative;
  width: 72px;
  height: 36px;
  /* border: 1px solid #d6d6d6; */
  border-radius: 36px;
  background: #02bc7d;
  cursor: pointer;
  color: #000000;
}

.toggler label::after {
  display: block;
  border-radius: 100%;

  content: '';
  animation-name: toggler-size;
  animation-duration: 0.15s;
  animation-timing-function: ease-out;
  animation-direction: forwards;
  animation-iteration-count: 1;
  animation-play-state: running;
}

.toggler label::after,
.toggler label .toggler-on,
.toggler label .toggler-off {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 26px;
  height: 26px;
  transform: translateY(-50%) translateX(-50%);
  transition: left 0.15s ease-in-out, background-color 0.2s ease-out, width 0.15s ease-in-out, height 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.toggler input:checked+label::after,
.toggler input:checked+label .toggler-on,
.toggler input:checked+label .toggler-off {
  left: 75%;
}

.toggler input:checked+label::after {

  animation-name: toggler-size2;
}

.toggler .toggler-on,
.toggler .toggler-off {
  opacity: 1;
  z-index: 2;
}

.toggler input:checked+label .toggler-off,
.toggler input:not(:checked)+label .toggler-on {
  width: 0;
  height: 0;
  opacity: 0;
}

.toggler .path {
  fill: none;
  stroke: #fefefe;
  stroke-width: 7px;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

@keyframes toggler-size {

  0%,
  100% {
    width: 26px;
    height: 26px;
  }

  50% {
    width: 20px;
    height: 20px;
  }
}

@keyframes toggler-size2 {

  0%,
  100% {
    width: 26px;
    height: 26px;
  }

  50% {
    width: 20px;
    height: 20px;
  }
}

.bg-black-op {
  background-color: rgba(0, 0, 0, 0.5);
}

.timeline-editor-action {
  background-color: #097969 !important;
}

.ql-editor {
  overflow: hidden !important;
  border-radius: 16px !important;
  padding: 32px !important;
  background-color: #ffffff !important;
  font-size: 20px !important;
  line-height: 28px !important;
}

.ql-editor img {
  /* padding: 16px 0px !important;*/
  border-radius: 16px !important;
  margin-top: 32px !important;
  /* Space below images added via toolbar */
  margin-bottom: 32px !important;
}

.ql-editor p {
  margin-top: 16px !important;
  /* Space above paragraphs following images */
  margin-bottom: 16px !important;
  /* Space below paragraphs */
}

.change_voice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

.change_voice .generate_button {
  color: #ffffff;
  font-weight: 400;
  cursor: pointer;
  font-size: 13px;
  background-color: oklch(45% 0.24 277.023);
  border-radius: 28px;
  padding: 8px 10px;
  width: 118px;
  height: 36px;
}

.change_voice .flag_user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.change_voice .flag_user .flag_icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.change_voice .flag_user .flag_icon img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.change_modal {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.dd_bg_op option {
  background-color: #16151a;
  outline: none;
  border: none;
}

.dd_bg_op option:hover {
  background-color: #303032;
}

.img_op .img_del {
  display: none;
}

.img_op img {
  border-radius: 8px;
}

.img_op:hover .img_del {
  display: flex;
  top: 10px;
  left: 10px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  border-radius: 6px;
  padding: 8px 12px;
  gap: 15px;
  color: #aaa;
  align-items: center;
}

.img_op:hover .img_del svg {
  cursor: pointer;
}

.img_op:hover .img_del svg:hover {
  color: #ffffff;
}

.loader_spin span {
  background-color: #ffffff !important;

}

.bg_vv {
  background-color: oklch(45% 0.24 277.023);
}

.bg_gr {
  background: repeating-linear-gradient(-45deg, #111112, #111112 .8rem, rgba(0, 0, 0, .2) 10px, rgba(0, 0, 0, .2) 20px);
}

.version_history {
  margin-top: 10px;
  height: 30vh;
  overflow-y: auto;
}

.version_history li {
  color: #a3a3a5;
  border-bottom: 1px solid #303032;
  cursor: pointer;
  padding: 3px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.version_history li:hover {
  background-color: oklch(45% 0.24 277.023);
  color: #ffffff;
  border-radius: 10px;
}

.version_history li span:hover {
  background-color: unset !important;
}

.version_history li svg {
  width: 20px;
  height: 20px;
  padding: 0;
}

.user_menu li {
  margin-bottom: 10px;

}

.user_menu li a {
  color: #a3a3a5;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  display: block;
}

.user_menu li a:hover {
  background-color: oklch(45% 0.24 277.023);
  color: #ffffff;
  border-radius: 6px;
}

.user_menu li a label {
  cursor: pointer;
  display: block;
}

.side_menu {
  height: 64px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid #303032;
  padding: 0.5rem;
  font-size: 14px;
  flex-direction: column;
  color: #ccc;
  gap: 0px;
  cursor: pointer;
}

.sidemenu_active {
  color: #fff;
  background: linear-gradient(45deg, rgba(66, 42, 213, 1) 0%, rgba(153, 41, 234, 1) 100%);


}

.add_btn_bg {
  background: linear-gradient(45deg, rgba(66, 42, 213, 1) 0%, rgba(153, 41, 234, 1) 100%);

  font-size: 14px;
}

.add_new_btn {
  font-size: 14px;
  border-radius: 50px;
  padding: 3px 8px;
  color: #fff;
  background: linear-gradient(45deg, rgba(66, 42, 213, 1) 0%, rgba(153, 41, 234, 1) 100%);

}


.btn-grad {
  background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%)
}

.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;

  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.start-record {
  /*border: 2px solid #4776E6;*/
  background: #2a2930;
  background: radial-gradient(circle, rgba(42, 41, 48, 1) 0%, rgba(22, 21, 26, 1) 100%);
}

.gradient-icon {
  background: linear-gradient(135deg, #43CBFF, #9708CC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}